<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style >.profile-teaser-left {
    float: left; width: 20%; margin-right: 1%;
}
.profile-img img {
    width: 100%; height: auto;
}

.profile-teaser-main {
    float: left; width: 79%;
}

.info { display: inline-block; margin-right: 10px; color: #777; }
.info span { font-weight: bold; }</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="list-group">
				<div class="list-group-item clearfix">
					<div class="profile-teaser-left">
						<div class="profile-img">
						</div>
					</div>
					<ul class="profile-teaser-main" th:each="centro : ${centri}" >
						<li>
							<h2 class="profile-name"><a th:href="@{'/centro' + '/' + ${centro.id}}"><span th:text="${centro.nome}"></span></a></h2>
							<div class="profile-info">
								<div class="info">Indirizzo:
									<span class="" th:text="${centro.indirizzo}"></span> 
								</div>
								<div class="info">Email:
									<span class="" th:text="${centro.email}"></span>
								</div>
								<div class="info">Numero di telefono:
									<span class="" th:text="${centro.numTelefono}"></span>
								</div>
								<div class="info">Capienza Massima:
									<span class="" th:text="${centro.capienza}"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>